# dependencies
/node_modules

# build output
/.next
/out

# system files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local

# IDE/editor
.vscode/
.idea/

# misc
*.log
